{% extends "base.html" %}

{% load bleach_tags %}
{% load static %}

{% block index_content %}
    <section class="main-image" style="padding-top: 100px; padding-left: 0; padding-right: 0;" id="main-image">
        <img src="{% static 'images/logo_no_border.png' %}" alt="Ogólnopolska Sesja Studentów Matematyki">
    </section>
    <section class="content-block header-block" id="main-header">
        <h2>O wydarzeniu</h2>
    </section>
    <section class="content-block text-block">
        <p>
            Ogólnopolska Sesja Studentów Matematyki to konferencja studencka organizowana przez Koło Matematyków Studentów Uniwersytetu Jagiellońskiego im. prof. Stanisława Zaremby oraz Studenckie Koło Matematyków Akademii Górniczo-Hutniczej. To okazja do pogłębienia wiedzy na temat wszystkich dziedzin matematyki – od teoretycznej po stosowaną.
        </p>
        <br>
        <p>
            Uczestnicy będą mogli wziąć udział w&nbsplicznych prelekcjach i&nbspreferatach, a&nbsptakże wygłosić własne prace i&nbspzaprezentować plakaty. Jest to także doskonała okazja do zawarcia nowych interesujących znajomości. Na naszej konferencji studenci z&nbspróżnych miast i&nbspuczelni będą mogli wymienić się doświadczeniami, porozmawiać o wspólnych pasjach i&nbsprazem świetnie spędzić czas w Mieście Królów.
            Dobra zabawa i&nbspsatysfakcja gwarantowane!
        </p>
    </section>
    <section class="content-block header-block">
        <h2>Historia OSSM</h2>
    </section>
    <section class="content-block text-block">
        <p>
            TO DO!
        </p>
        <p>
            Ogólnopolska Sesja Studentów Matematyki to konferencja studencka organizowana przez Koło Matematyków Studentów Uniwersytetu Jagiellońskiego im. prof. Stanisława Zaremby oraz Studenckie Koło Matematyków Akademii Górniczo-Hutniczej. To okazja do pogłębienia wiedzy na temat wszystkich dziedzin matematyki – od teoretycznej po stosowaną.
        </p>
        <br>
        <p>
            Uczestnicy będą mogli wziąć udział w licznych prelekcjach i&nbspreferatach, a także wygłosić własne prace i&nbspzaprezentować plakaty. Jest to także doskonała okazja do zawarcia nowych interesujących znajomości. Na naszej konferencji studenci z różnych miast i&nbspuczelni będą mogli wymienić się doświadczeniami, porozmawiać o wspólnych pasjach i&nbsprazem świetnie spędzić czas w Mieście Królów.
            Dobra zabawa i&nbspsatysfakcja gwarantowane!
        </p>
    </section>
{% endblock %}